.bingo {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.guess {
  display: block;
}

.word-sel {
  display: block;
}

.attempt-left {
  font-size: calc(10px + 2vmin);
  color: green;
}

.attempt-over {
  font-size: calc(10px + 2vmin);
  color: red;
}

.guess-letter {
  font-size: calc(10px + 2vmin);
  
  width: 10%;
  box-sizing: content-box;
  
}

.board-row {
  clear: both;
  content: "";
  display: inline-block;
}

.board-row-input {
  clear: both;
  content: "";
  display: inline-block;
}

.bingo-answer {
  text-decoration : underline ;
  display: inline-flexbox;
  font-size: 40pt;


  /* font-size: calc(15px + 2vmin); */
}
.bingo-wrong-answer {
  text-decoration: line-through;
  display: inline-flexbox;
  font-size: 30pt;
  color: red;


  /* font-size: calc(15px + 2vmin); */
}
