.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.Header-style {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-shadow: whitesmoke;
  color: whitesmoke;
  background-color: darkslategray;
}

.tableStyle {
  align-content: center;
  align-self: center;
  text-align: left;
  vertical-align: middle;

  background-color: gold;
  background-repeat: repeat;
  
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
